<!-- ======= Header ======= -->
<header id="header">
  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
  <div class="d-flex flex-column">

    <div class="profile">
      <img src="/assets/img/profile-img.png" alt="" class="img-fluid rounded-circle">
      <h1 class="text-light">
       <small> <% if (userData.username===null) { %>
        <a href="/home">
          <%= userData.email %>
        </a>

        <% } else{%>
          <a href="/home">
            <%= userData.username %>
          </a>
          <% } %></small>
      </h1>
      <div class="social-links mt-3 text-center">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>

    <nav id="navbar" class="nav-menu navbar">
      <ul>
        <li><a href="/user/dashboard#hero" class="nav-link scrollto"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="/user/profile#services" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Profile</span></a>
        </li>
        <li><a href="/admin/users#user" class="nav-link scrollto"><i class="bx bx-file"></i><span>Users</span></a></li>
        <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-dollar"></i><span>Wallet</span></a>
        </li>
        
        <li><a href="/user/shipmenu" class="nav-link scrollto"><i class="bx bx-gift"></i> <span>Shipment</span></a></li>
        <li><a href="/user/edit#profile" class="nav-link scrollto"><i class="bx bx-paint"></i> <span>Settings</span></a></li>
        <li><a href="/user/logout" class="nav-link scrollto"><i class="bx bx-power-off"></i> <span>Logout</span></a></li>
        <li><a href="#" class="nav-link scrollto"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </nav>
    <!-- .nav-menu -->
  </div>
</header>
<!-- End Header -->