<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Property Report Analyzer</h5>
            <p>Available Properties : <%= property.length %> </p>
            <!-- Progress Bars with Striped Backgrounds-->
        
            <div class="progress">
              <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">Land : <span  id="land">Land :Land</span>%</div>
            </div> 
            <div class="progress mt-3">
              <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"> Buildings :<span  id="building">To Be filled</span>%</div>
            </div>         
            <div class="progress mt-3">
              <div class="progress-bar progress-bar-striped  progress-bar-animated" role="progressbar" style="width: 70%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Shortlets : <span  id="shortlet">Short Let</span> %</div>
            </div>
            <div class="progress mt-3">
              <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div><!-- End Progress Bars with Striped Animated Backgrounds -->

          </div>
        </div>
      </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Property Analyzer</h5>
                    
                    <!-- Pie Chart -->
                    <div id="pieChart"></div>

                    <script>
                      const land = document.getElementById('apartment');
                      const building = document.getElementById('terrace');
                      const shortlet = document.getElementById('duplex');
                        document.addEventListener("DOMContentLoaded", () => {
                            new ApexCharts(document.querySelector("#pieChart"), {
                                series: [67, 13, 43, 22],
                                chart: {
                                    height: 350,
                                    type: 'pie',
                                    toolbar: {
                                        show: true
                                    }
                                },
                                labels: ['Land', 'Building', 'Shortlet', 'Ware House', 'Apartment']
                            }).render();
                        });
                    </script>
                    <!-- End Pie Chart -->

                </div>
            </div>
        </div>
       
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Investment Analyzer</h5>
  
                <!-- Radial Bar Chart -->
                <div id="radialBarChart"></div>
  
                <script>
                  document.addEventListener("DOMContentLoaded", () => {
                    new ApexCharts(document.querySelector("#radialBarChart"), {
                      series: [44, 55, 67, 83],
                      chart: {
                        height: 350,
                        type: 'radialBar',
                        toolbar: {
                          show: true
                        }
                      },
                      plotOptions: {
                        radialBar: {
                          dataLabels: {
                            name: {
                              fontSize: '22px',
                            },
                            value: {
                              fontSize: '16px',
                            },
                            total: {
                              show: true,
                              label: 'Total',
                              formatter: function(w) {
                                // By default this function returns the average of all series. The below is just an example to show the use of custom formatter function
                                return 249
                              }
                            }
                          }
                        }
                      },
                      labels: ['Apples', 'Oranges', 'Bananas', 'Berries'],
                    }).render();
                  });
                </script>
                <!-- End Radial Bar Chart -->
  
              </div>
            </div>
          </div>
    </div>
  
</div>