<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Index - Sun Planet</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="asset/img/favicon.png" rel="icon">
  <link href="asset/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="asset/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="asset/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="asset/vendor/aos/aos.css" rel="stylesheet">
  <link href="asset/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="asset/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="asset/css/main.css" rel="stylesheet">
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="/" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="asset/img/logo.png" alt="">
        <!-- <h1 class="sitename">Sun Planet</h1> -->
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/#hero" class="active">Home<br></a></li>
          <li class="dropdown"><a href="#"><span>Properties</span> <i
                class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="/prop/apartment">Apartments</a></li>
              <li><a href="/prop/condo">Condo</a></li>
              <li><a href="/prop/detached_house">Detached House</a></li>
              <li><a href="/prop/duplex">Duplex</a></li>
              <li><a href="/prop/flat">Flat</a></li>
              <li><a href="/prop/terrace">Terrace</a></li>
            </ul>
          </li>
          <li><a href="#Investment">Investment</a></li>
          <li class="dropdown"><a href="/#about"><span>About</span> <i
                class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="/about">About Us</a></li>
              <li><a href="/about#invest">About Investment</a></li>
              <li><a href="/about#prop">About Properties</a></li>
              <li class="dropdown"><a href="#"><span>Resource</span> <i
                    class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="/pricing">Price Comparison</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul>
              </li>

              <li><a href="#">Dropdown 4</a></li>
            </ul>
          </li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="/login">Login</a>

    </div>
  </header>

  <main class="main">

   

    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>About Us<br></h2>
        <p>Sun Planet Company Limited RC 1497197.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
            <p> 
              Welcome to Sun Planet Company Limited, a renowned and registered real estate development firm based in Lagos, Nigeria. With over seven years of excellence in the real estate industry, we are proud to operate under the trading registration number RC 1497197. <br>Our priceless <i>métier</i> lie in property development, real estate investment, and management, making us a trusted name for clients seeking premier solutions in the real estate and property market.
            </p>
            <p>
              For over seven years, we have specialized in three key areas:
            </p>
            <ul>
              <li><i class="bi bi-check2-circle"></i> <span><b>Real estate property development:</b> <br>We design and build innovative, high-quality properties.</span></li>
              <li><i class="bi bi-check2-circle"></i> <span><b>Real estate investment: </b> <br>We offer expert guidance on profitable property investments.</span></li>
              <li><i class="bi bi-check2-circle"></i> <span><b>Real estate management: </b> <br>Our team ensures seamless property maintenance and upkeep.</span></li>
            </ul>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <p>
              At Sun Planet Company Limited, our success is driven by a team of highly skilled professionals. <br>Our dedicated workforce includes brilliant architects, structural engineers, builders, technicians, project managers, property managers, and facility managers. <br>This diverse expertise allows us to deliver world-class real estate solutions that meet the evolving needs of both individuals and businesses across Lagos. <br>Over the years, we have proudly completed and delivered numerous high-quality projects, catering to the unique demands of our stakeholders. <br>Our extensive portfolio of real estate developments, ranging from residential to commercial properties, reflects our unwavering commitment to quality, innovation, and customer satisfaction. <br>Little wonder why our customers remember our brand in terms of excellence, trustworthiness and referrals .

            </p>
           
          </div>

        </div>

      </div>

    </section><!-- /About Section -->



    <!-- About Alt Section -->
    <section id="about-alt" class="about-alt section">

      <div class="container" id="invest">

        <div class="row gy-4">
          <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
            <img src="asset/img/invest.jpg" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox pulsating-play-btn"></a>
          </div>
          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="200">
            <h3 class="mt-4">Our Investment Plan </h3>
            <p class="fst-italic">
              SunPlanet Company Ltd. offers a very unique opportunity for investors to make money from real estate with confidence. <br>Our carefully curated plans are designed to maximize your returns while minimizing risks. 
            </p>
            
            <p>
              With expert management, strategic property locations, and diverse investment options, SunPlanet is your trusted partner for building lasting wealth through real estate. <br>Invest today and secure your financial future with us!
            </p>
          </div>
        </div>

      </div>

    </section><!-- /About Alt Section -->

    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Why You Should Invest With Us</h2>
        <p>
          Investing in real estate is a strategic way to build wealth, and with SunPlanet Company Ltd., you gain access to a range of lucrative opportunities tailored to maximize returns and provide long-term financial security. <br>Here are some of the key advantages of investing in SunPlanet’s real estate plans:
        </p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
      
            <ul>
              <li> <span><i class="bi bi-check2-circle"></i><b>High Return on Investment (ROI):</b> <br>SunPlanet offers access to premium properties in prime locations, ensuring consistent appreciation in value over time. Whether you're investing in residential, commercial, or shortlet properties, our well-researched projects are designed to deliver significant returns, making your investment highly rewarding in the long run.</span>
              </li>
              <li><span> <i class="bi bi-check2-circle"></i><b>Diversified Property Portfolio: </b> <br>At SunPlanet, we offer a wide variety of investment opportunities, including residential developments, commercial spaces, and shortlet accommodations. This diverse portfolio allows you to spread your investments across different asset classes, mitigating risks while taking advantage of multiple revenue streams.</span></li>
              <li> <span><i class="bi bi-check2-circle"></i><b>Secure and Transparent Transactions: </b> <br>At SunPlanet, we prioritize trust and transparency. All our real estate transactions are conducted with full legal backing and meticulous attention to detail, ensuring that your investment is safe and secure. We provide you with clear documentation and updates throughout the process, so you always know the status of your investment.</span></li>
              <li> <span><i class="bi bi-check2-circle"></i><b>Capital Appreciation: </b> <br>Real estate is one of the few investments that appreciates over time, and SunPlanet’s projects are carefully selected for their growth potential. As property values rise, so does the value of your investment, giving you the opportunity to enjoy significant capital gains over the years.</span></li>
            </ul>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <ul>
              <li> <span><i class="bi bi-check2-circle"></i><b>Social Impact and Community Development:</b> <br>By investing in SunPlanet’s real estate projects, you are contributing to the growth and development of communities. Our projects focus not just on profitability but also on creating sustainable living environments, enhancing the quality of life for residents, and boosting the local economy.</span>
              </li>
              <li><span> <i class="bi bi-check2-circle"></i><b>Capital Appreciation: </b> <br>
                Real estate is one of the few investments that appreciates over time, and SunPlanet’s projects are carefully selected for their growth potential. As property values rise, so does the value of your investment, giving you the opportunity to enjoy significant capital gains over the years.</span></li>
              <li> <span><i class="bi bi-check2-circle"></i><b>Professional Property Management: </b> <br>
                One of the main challenges of real estate investment is property management. With SunPlanet, you can leave the heavy lifting to us. Our experienced property management team takes care of everything, from tenant relations to maintenance, allowing you to enjoy hassle-free property ownership while reaping the rewards of your investment.</span>
              </li>
              <li> <span><i class="bi bi-check2-circle"></i><b>Strategic Locations: </b> <br>
                We focus on acquiring properties in high-growth areas and emerging markets, which are projected to experience significant economic and infrastructural development. By investing with SunPlanet, you position yourself to benefit from future appreciation as these regions grow in value and desirability.</span></li>
            </ul>
           
          </div>
        </div>

      </div>

    </section><!-- /About Section -->


    <!-- Faq Section -->
    <section id="faq" class="faq section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Frequently Asked Questions</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row justify-content-center">

          <div class="col-lg-10" data-aos="fade-up" data-aos-delay="100">

            <div class="faq-container">

              <div class="faq-item faq-active">
                <h3>What type of properties does SunPlanet develop?</h3>
                <div class="faq-content">
                  <p>SunPlanet specializes in residential, commercial, and mixed-use developments, <br>as well as
                    providing shortlet services</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>How can I invest in a property development project?</h3>
                <div class="faq-content">
                  <p>You can contact our investment team, and we’ll guide you through the available opportunities and
                    returns</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>What is the minimum rental period for shortlet services?

                </h3>
                <div class="faq-content">
                  <p>Our shortlet services are available from as little as 3 days to several months, depending on your
                    needs.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->

              <div class="faq-item">
                <h3>What areas do you serve?</h3>
                <div class="faq-content">
                  <p>We develop and lease properties across major cities in Nigeria, with a focus on Lagos, Abuja, and
                    Port Harcourt.
                    .</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->
              <div class="faq-item">
                <h3>How do I book a property or shortlet service?</h3>
                <div class="faq-content">
                  <p>Simply browse our available listings on our website or contact our sales team for further
                    assistance.</p>
                </div>
                <i class="faq-toggle bi bi-chevron-right"></i>
              </div><!-- End Faq item-->
            </div>

          </div><!-- End Faq Column-->

        </div>

      </div>

    </section><!-- /Faq Section -->



  </main>
  <footer id="footer" class="footer light-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="/" class="logo d-flex align-items-center">
            <span class="sitename">Sun Planet Co</span>
          </a>
          <p>We specialize in constructing high-quality residential and commercial buildings on prime properties.
            Shortlet, Property Management and Development </p>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>



        <div class="col-lg-4 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>Address 91 St. FINNBARS Road </p>
          <p>Akoka, Yaba</p>
          <p>Lagos State, Nigeria</p>
          <p class="mt-4"><strong>Phone:</strong> <span>08101353450, 08101631008</span></p>
          <p><strong>Email:</strong> <span>sunplanetcompanyltd@gmail.com</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Sun Planet Co</strong> <span>All Rights Reserved</span>
      </p>
      <div class="credits">

        Developed by <a href="#">Royal Reality Technology</a>
      </div>
    </div>

  </footer>


  <!-- Scroll Top -->
  <a href="https://wa.me/+2348101631008" target="_blank" rel="noopener noreferrer"
    class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-whatsapp"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="asset/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="asset/vendor/aos/aos.js"></script>
  <script src="asset/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="asset/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="asset/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="asset/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="asset/vendor/isotope-layout/isotope.pkgd.min.js"></script>

  <!-- Main JS File -->
  <script src="asset/js/main.js"></script>

</body>

</html>