<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Index - Sun Planet</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="asset/img/favicon.png" rel="icon">
  <link href="asset/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="asset/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="asset/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="asset/vendor/aos/aos.css" rel="stylesheet">
  <link href="asset/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="asset/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="asset/css/main.css" rel="stylesheet">
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="/" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="asset/img/logo.png" alt="">
        <!-- <h1 class="sitename">Sun Planet</h1> -->
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/#hero" class="active">Home<br></a></li>
          <li class="dropdown"><a href="#"><span>Properties</span> <i
                class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="/prop/apartment">Apartments</a></li>
              <li><a href="/prop/condo">Condo</a></li>
              <li><a href="/prop/detached_house">Detached House</a></li>
              <li><a href="/prop/duplex">Duplex</a></li>
              <li><a href="/prop/flat">Flat</a></li>
              <li><a href="/prop/terrace">Terrace</a></li>
            </ul>
          </li>
          <li><a href="#Investment">Investment</a></li>
          <li class="dropdown"><a href="/#about"><span>About</span> <i
                class="bi bi-chevron-down toggle-dropdown"></i></a>
            <ul>
              <li><a href="/about">About Us</a></li>
              <li><a href="/about#invest">About Investment</a></li>
              <li><a href="/about#prop">About Properties</a></li>
              <li class="dropdown"><a href="#"><span>Resource</span> <i
                    class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="/pricing">Price Comparison</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul>
              </li>

              <li><a href="#">Dropdown 4</a></li>
            </ul>
          </li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="/login">Login</a>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section">

      <img src="asset/img/hero-bg.png" alt="" data-aos="fade-in" class="">

      <div class="container">
        <div class="row justify-content-center" data-aos="zoom-out">
          <div class="col-xl-7 col-lg-9 text-center">
            <h1>Welcome To Sun Planet</h1>
            <p>We are your premier partner in real estate development and management. </p>
          </div>
        </div>
        <div class="text-center" data-aos="zoom-out" data-aos-delay="100">
          <a href="#about" class="btn-get-started">Get Started</a>
        </div>

        <div class="row gy-4 mt-5">
          <div class="col-md-6 col-lg-3" data-aos="zoom-out" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-house-fill"></i></div>
              <h4 class="title"><a href="/prop/apartment">Property Lease</a></h4>
              <p class="description">
                Click here to explore our available properties for lease. We offer prime options tailored for
                individuals, families, and businesses looking for lasting accommodations.
                Start your journey to find a place you can truly call home

              </p>
            </div>
          </div><!--End Icon Box -->

          <div class="col-md-6 col-lg-3" data-aos="zoom-out" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-gem"></i></div>
              <h4 class="title"><a href="">Investments</a></h4>
              <p class="description">
                Interested in property investments? Click here to learn how you can invest in our properties to enjoy
                future rental income and steady asset growth. Join our network of smart investors and see the value of
                your investment grow.
              </p>
            </div>
          </div><!--End Icon Box -->

          <div class="col-md-6 col-lg-3" data-aos="zoom-out" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-house"></i></div>
              <h4 class="title"><a href="/prop/shortlet">Shortlets</a></h4>
              <p class="description">Ready for a short stay or a quick getaway? <br>Visit our shortlet section for
                fully-furnished, short-term rental options that provide all the comfort and convenience you need. Book
                your next short-term stay with ease!
              </p>
            </div>
          </div><!--End Icon Box -->

          <div class="col-md-6 col-lg-3" data-aos="zoom-out" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-command"></i></div>
              <h4 class="title"><a href="/prop/forsale">Property Sales</a></h4>
              <p class="description">
                Ready to buy? Discover our diverse properties available for sale. Whether you’re looking for
                residential, commercial, or investment properties, our listings have something for every buyer. Click
                here to begin your journey toward ownership.
              </p>
            </div>
          </div><!--End Icon Box -->

        </div>
      </div>

    </section><!-- /Hero Section --> <br>

    <!-- About Alt Section -->
    <section id="about-alt" class="about-alt section">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-6 position-relative align-self-start" data-aos="fade-up" data-aos-delay="100">
            <img src="asset/img/about.jpg" class="img-fluid" alt="">
            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox pulsating-play-btn"></a>
          </div>
          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="200">
            <h3> ABOUT SUNPLANET CO</h3>
            <p class="fst-italic">
              Sun Planet Company Limited is a well-established and officially registered real estate development company
              headquartered in Lagos, Nigeria.
              <br>Our core focus is on :
            </p>
            <ul>
              <li><i class="bi bi-check2-all"></i> <span>Real Estate Property Development</span>
              </li>
              <li><i class="bi bi-check2-all"></i> <span>Real Estate Investments</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Real Estate Property Management</span></li>
            </ul>
            <p>
              Our company registration number is RC 1497197, confirming our legitimacy and commitment to excellence.
            </p>
            <a href="/about" class="read-more btn btn-outline-danger"><span>Read More</span><i
                class="bi bi-arrow-right"></i></a>
          </div>

        </div>

      </div>

    </section><!-- /About Alt Section -->

    <!-- Property Section -->
    <div class="container mt-5 mb-5">
      <h2 class="text-center mb-5 fw-bold">What We Do ...</h2>
      <div class="row row-cols-1 row-cols-md-3 mb-5 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header bg-danger py-3">
              <h4 class="my-0 fw-normal text-light">Property Development</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">01
                <small class="text-muted fw-light">- Construct</small>
              </h1>
              <p class="p-2">
                Our property development team transforms land and other real estate properties into high-quality residential, commercial, and mixed-use spaces. <br><br>From planning and design to construction and finishing, we create modern, sustainable properties that meet the diverse needs of today’s market. <br><br>Whether it's luxury housing, office complexes, or community spaces, we bring innovative ideas to life
              </p>
            
              <button type="button" class="w-100 btn btn-lg btn-outline-danger">Click To View</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header bg-danger py-3">
              <h4 class="my-0 fw-normal text-light">Property Investments</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">02 <small class="text-muted fw-light">- Invest</small></h1>
              <p class="p-2">
                We offer smart real estate investment opportunities designed to help you build wealth and secure your financial future. <br><br> By investing in prime properties, you can enjoy rental income and long-term capital appreciation. <br><br> Our experienced team identifies and manages lucrative investment options that deliver strong returns and value.
              </p>
              <button type="button" class="w-100 btn btn-lg btn-outline-danger">Click To View</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header bg-danger py-3">
              <h4 class="my-0 fw-normal text-light">Property Management</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">03
                <small class="text-muted fw-light">- Manage</small>
              </h1>
              <p class="p-2">
                Our property management services ensure that your real estate assets are well-maintained, profitable, and hassle-free.<br><br>We handle everything from tenant screening and rent collection to maintenance and repairs, providing a seamless experience for property owners. <br>Trust us to manage your properties professionally, maximizing occupancy and revenue.
              </p>

              <button type="button" class="w-100 btn btn-lg btn-outline-danger">Click To View</button>
            </div>
          </div>
        </div>
      </div>
    </div> <br>
    



    <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action section steeze mb-5">
      <!-- accent-background -->
      <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xl-10">
            <div class="text-center">
              <h3 class="text-light fw-bold">Investment Alert</h3>
              <p class="text-light ">"Get in Touch to Start Your Investment Journey <br>Let your money make more money
                while you rest"</p>
              <a class="cta-btn" href="#">Invest Now</a>
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Call To Action Section --> <br><br>


    <!-- Investment Alt Section -->
    <section id="invest" class="about-alt section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="200">
            <h3> Why An Investment With Us ?</h3>
            <p class="fst-italic">
              At Sun Planet Company Limited, we remain committed to delivering exceptional real estate solutions,
              exceeding our clients' expectations, and shaping the future of Lagos' property landscape. Through our
              expertise and dedication, we have:
            </p>
            <ul>
              <li><i class="bi bi-check2-all"></i> <span>Successfully constructed and delivered various real estate
                  projects across Lagos</span>
              </li>
              <li><i class="bi bi-check2-all"></i> <span>Met the needs of various stakeholders, including homeowners,
                  investors, and businesses</span></li>
              <li><i class="bi bi-check2-all"></i> <span>Established ourselves as an ever growing and expanding
                  construction and property management company in Lagos</span></li>
              <li><i class="bi bi-check2-all"></i> <span>We have reasonable ROI (Returns On Investment) and good
                  delivery records</span></li>
            </ul>


          </div>
          <div class="col-lg-6 position-relative align-self-start">

            <img src="asset/img/invest.gif" class="img-fluid" alt="">
            <a href="/about" class="read-more btn btn-outline-light"><span>Invest Now</span><i
                class="bi bi-arrow-right"></i></a>
          </div>

        </div>

      </div>

    </section><!--  Investment Alt Section -->


    <!-- Blog Section  -->
    <section id="service-details" class="service-details section">

      <div class="container ">
        <div class="content text-center ">
          <h3 class="fw-bold">B L O G</h3> <br>
        </div>

        <div class="row gy-4">
          <div class="col-md-6">
            <img src="asset/img/blog.jpg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="130">
          </div>

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="90">
            <div class="services-list">
              <a href="#">How To Login To Our Portal</a>
              <a href="#">How to identify good investments</a>
              <a href="#">Avoid these 6 apartments</a>
              <a href="#">5 things Real Estate Agents don't want you to know</a>
              <a href="#">How To Rent Good Apartments</a>
              <a href="#">10 simple ways to know a good property</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Stats Section -->
    <section id="stats" class="stats section light-background">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
          <div class="card p-4 h-100" style="background-image: url(asset/img/ad2.png); background-size: cover;">
            <div class="text-center ">
              <a class="btn-outline-light mt-5 btn ">Invest Now</a>

              <p class="text-light mb-5 mt-2"><i>Make money while you are sleeping..</i></p>
            </div>

          </div>
        </div>

      </div>

    </section><!-- /Stats Section -->


  </main>

  <footer id="footer" class="footer light-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="/" class="logo d-flex align-items-center">
            <span class="sitename">Sun Planet Co</span>
          </a>
          <p>We specialize in constructing high-quality residential and commercial buildings on prime properties.
            Shortlet, Property Management and Development </p>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>



        <div class="col-lg-4 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>Address 91 St. FINNBARS Road </p>
          <p>Akoka, Yaba</p>
          <p>Lagos State, Nigeria</p>
          <p class="mt-4"><strong>Phone:</strong> <span>08101353450, 08101631008</span></p>
          <p><strong>Email:</strong> <span>sunplanetcompanyltd@gmail.com</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Sun Planet Co</strong> <span>All Rights Reserved</span>
      </p>
      <div class="credits">

        Developed by <a href="#">Royal Reality Technology</a>
      </div>
    </div>

  </footer>


  <!-- Scroll Top -->

  <a href="https://wa.me/+2348101631008" id="scroll-top" target="_blank" rel="noopener noreferrer"
    class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-whatsapp"></i></a>
  <!-- Preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- Vendor JS Files -->
  <script src="asset/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="asset/vendor/aos/aos.js"></script>
  <script src="asset/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="asset/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="asset/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="asset/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="asset/vendor/isotope-layout/isotope.pkgd.min.js"></script>

  <!-- Main JS File -->
  <script src="asset/js/main.js"></script>

</body>

</html>