<section class="section"> Publish An Investment
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <form action="" method="POST">
          <div class="card-body">
            <h5 class="card-title">Investment</h5>
            <div class="row">
              <div class="col">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">Title</span>
                  <input type="text" class="form-control" placeholder="A Suitable Title" aria-label="Username"
                    aria-describedby="basic-addon1">
                </div>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">Price</span>
                  <input type="text" class="form-control" placeholder="Property Price" aria-label="Username"
                    aria-describedby="basic-addon1">
                </div>
              </div>
            </div>
            <div class="row mb-3">
  
              <div class="col-sm-6">
                <input class="form-control" type="file" id="formFile">
                <label for="inputNumber" class="col-sm-6 col-form-label">Choose Image</label>
              </div>
              <div class="col">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="basic-addon1">Location</span>
                  <input type="text" class="form-control" placeholder="Property Location" aria-label="Username"
                    aria-describedby="basic-addon1">
                </div>
              </div>
            </div>
            <label for="inputNumber" class="col-sm-6 col-form-label">Details & Description of the Property</label>
            <div class="quill-editor-default">
              <textarea name="description" id="">
  
                </textarea>
            </div>
            <div>
              <button type="submit" class="btn btn-outline-primary mt-3">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>