<div class="container p-4 text-center">
    <h2>Alert !!!</h2>
    <button class="btn btn-success p-3" type="button" disabled>
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
       <b class="text-capitalize"><%- ok %></b> 
      </button>
      <p class="mt-5">Go Back To Continue</p>
    
</div>