<div class="container-fluid">
  <div class="pagetitle">
    <h1>Property Rent / Lease / Shortlet Form</h1> <br>
  </div><!-- End Page Title -->

  <div class="card p-4">
    <div class="card-body">

      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Property Name" aria-label="Username">
        <span class="input-group-text">#</span>
        <input type="text" class="form-control" placeholder="Address" aria-label="Server">
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Amount NGN" aria-label="Username">
        <span class="input-group-text">#</span>
        <select class="form-select" aria-label="Default select example" name="property_type">
          <option selected>Select Property Type</option>
          <hr>
          <option value="apartment">Apartment</option>
          <option value="condo">Condo</option>
          <option value="detached_house">Detached House</option>
          <option value="duplex">Duplex</option>
          <option value="terrace">Terrace</option>
          <option value="flat">Unit Flat</option>
        </select>
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Occupant Name" aria-label="Username">
        <span class="input-group-text">#</span>
        <input type="text" class="form-control" placeholder="Occupant Phone Number" aria-label="Server">
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Next Of Kin" aria-label="Username">
        <span class="input-group-text">#</span>
        <input type="text" class="form-control" placeholder="Next Of Kin Phone Number" aria-label="Server">
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Next Of Kin Address" aria-label="Username">
        <span class="input-group-text">#</span>
        <input type="text" class="form-control" placeholder="NOK Alternative Phone Number" aria-label="Server">
      </div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Rent Starts" aria-label="Username">
        <span class="input-group-text">#</span>
        <input type="text" class="form-control" placeholder="Rent Ends" aria-label="Server">
      </div>


      <button type="submit" class="btn btn-outline-primary">Proceed To Payment</button>
    </div>
  </div>
  <div class="card"> <br>
    <div class="card-body">
      <div class="pagetitle">
        <small>
          <h1>Form History</h1>
        </small> <br>
      </div><!-- End Page Title -->
    </div>
  </div>
</div>