<div class="container-fluid register d-flex">
    <div class="container">
        <div class="row" data-aos="fade-up">
            <div class="col-md-3"></div>
            <div class="col-md-9 p-5 boder">
                <!-- Add A Carousel for the form  -->
                <h1 class="mb-4 text-center"> <b>Shipment Menu</b></h1>
                <!-- <h3 class="mb-5 "><u>Sender's Details</u> </h3> -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 icon-box mb-3" data-aos="fade-up">
                            <h4 class="title"><a href="/user/shipment">Create Shipment <i class="bi bi-book"></i></a>
                            </h4>
                            <p class="description">To successfully send a package from one person or location to
                                another, you'd need to create a shipment form.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 icon-box" data-aos="fade-up">
                            <h4 class="title"><a href="/user/shipments/<%= userData.user_id %>">View Shipment History <i
                                        class="bi bi-card-checklist"></i></a></h4>
                            <p class="description">
                                Record of past transactions of shipments are stored up in the history section
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 icon-box" data-aos="fade-up">
                            <div class="icon"></div>
                            <h4 class="title"><a href="/shipment">Track Shipment </a>  <i class="bi bi-briefcase"></i></h4>
                            <p class="description">Followup to know the state of your transported items / shipment</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>