<section class="section"> Create A Transaction Receipt <br>
 

  <% if ( !userTranz ) { %>
    <div class="row mb-5">
      <div class="col-lg-12">
  
  
        <div class="card">
          <form action="/admin/xXpPLliLZz" method="POST" enctype="multipart/form-data">
            <div class="card-body">
              <h5 class="card-title text-center">Payment Page</h5>
              <div class="row">
                <div class="col">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Account Id</span>
                    <input type="text" class="form-control" placeholder="Enter Account Id " aria-label="Username"
                      aria-describedby="basic-addon1" required name="title">
                    <button type="submit" class="btn btn-outline-primary ">Confirm</button>
                  </div>
                </div>
              </div>
              <div>
  
              </div>
            </div>
          </form>
        </div>
      </div>
    </div> <br>
    <h3 class="text-center mb-5">Kindly Enter A Correct Account Id</h3> <br><br>
    <% } else{%>

      <div class="card">
        <div class="row p-3"> <br>

          <div class="card-body">
            <h5 class="card-title">Transaction Table</h5>
            <p>Kindly fill in the<code> DATA carefully. Receipts are not editable .</p>

            <form action="/admin/tranzit/GgTxXWyQkDx" method="POST">
              <!-- Table Variants -->
        <table class="table w-100">
          <thead>
            <tr>
              <th scope="col">Name</th>
             
              <th scope="col">Refrence Number</th>
              
              <th scope="col">Amount (NGN)</th>
              <th scope="col">Payment Purpose</th>
              <th scope="col">Submit</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-primary">
              <th scope="row"><input readonly name="name" type="text" value="<%= userTranz.surname %>/<%= userTranz.account_id %>"></th>
              <td><input type="text" readonly name="reference_number" value="SUN<%= refs %>"></td>
              <input type="text" name="user_id" hidden value="<% userTranz.user_id %>">
              <td><input type="number" name="amount"></td>
              <td><input type="text" name="description"></td>
              <td><button type="submit" class="btn btn-outline-success btn-sm">Confirmed</button></td>
            </tr>
           
          </tbody>
        </table>
        <!-- End Table Variants -->
            </form>
         </div>
        </div>
        </div>

      </div> <br>
    </div>

  </div>
  <% } %>
  </div>
</section>